{{> head }}

{{> navbar }}

<div class="row">
    <div class="col-2"></div>
    <div class="col-4" style="padding: 20px;">

        <h1>
            LLEGO EL MOMENTO...
        </h1>
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime totam magni nisi ut nemo, corrupti dicta repellendus eius enim praesentium molestiae dolorem hic repellat odit, deserunt atque quasi est molestias!
        </p>
    
    </div>
    
    <div class="col-3 ">

        <img src="assets/img/llego-el-momento.png" class="img-thumbnail" alt="">

    </div>
    <div class="col-2">

    </div>

</div>

{{> footer }}